<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="VisionTrack" value="https://pkgs.dev.azure.com/visiontrack/_packaging/visiontrack/nuget/v3/index.json" />	
	 <add key="DevExpress" value="https://nuget.devexpress.com/sZs3b1DQMwQUPuCb6xDEOdsylnWpwIGXRgXAdHhSVzCXpQAs11/api/v3/index.json" />  
  </packageSources>  
  <packageSourceMapping>    
    <packageSource key="DevExpress">
      <package pattern="DevExpress.*" />      
    </packageSource>
    <packageSource key="VisionTrack">
      <package pattern="VisionTrack.*" />      
    </packageSource>	
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>      
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <bindingRedirects>
    <add key="skip" value="False" />
  </bindingRedirects>
  <packageManagement>
    <add key="format" value="0" />
    <add key="disabled" value="False" />
  </packageManagement>
</configuration>